.masthead-avatar {
  border-radius: 50%;
  height: 20rem;
  object-fit: cover;
}

a.basic-link {
  color: var(--bs-white);
  text-decoration: none;
  cursor: pointer;
}

.modal {
  opacity: 0;
  transition: opacity 0.2s;
}

.modal.show {
  display: block;
  opacity: 1;
}

.portfolio-modal {
  background-color: rgba(0, 0, 0, 0.5);
}